# 安装包，默认语义范围：patch
# https://docs.npmjs.com/about-semantic-versioning#using-semantic-versioning-to-specify-update-types-your-package-can-accept
save-prefix='^'

# npm默认使用地址: 国内访问略慢~
# registry=https://registry.npmjs.org

# aliyun国内镜像站：https://npmmirror.com/
# 新淘宝镜像地址: s,s,sou~
registry=https://registry.npmmirror.com/

# 私有包访问需要个人token，请在~/.npmrc文件中，添加下一行配置，去掉#号注释，将xxxxxxxx替换为github上创建的token即可
# //npm.pkg.github.com/:_authToken=xxxxxxxx
# 私有包镜像地址: github包托管地址
# @justajwolf:registry=https://npm.pkg.github.com/

# package-lock.json version: 3，版本1是npn7以前的，版本2是兼容npm7以前的数据与新版本数据，相当于lock文件是两份数据，版本3是只有npm7之后的新lock数据
lockfile-version=3

# 日志等级："silent", "error", "warn", "notice", "http", "info", "verbose", or "silly"
# 日志等级默认："notice"
# npm 日志等级为http 方便观察安装失败 timeout 情况
# loglevel="http"
loglevel="notice"

# 打印执行时间线日志
# 查看日志：cat ~/.npm/_logs/*-timing.json | npm exec -- json -g
timing=false

maxsockets=50

# npm version 修改 package.json version 时的模板commit message
# npm version [<newversion> | major | minor | patch | premajor | preminor | prepatch | prerelease | from-git]
message="build: bump version to %s"

# 取消tag默认前缀v
tag-version-prefix=""

# node_modules目录安装策略："hoisted", "nested", "shallow", or "linked"
# "linked" 这种同pnpm安装结构一样，node_modules 中只保留package.json中显示依赖的包
# install-strategy="linked"
install-strategy="hoisted"

# rebuild=true

# 强制校验，dep包中的engine限制
engine-strict=true

# node-gyp 下载node时，国内镜像地址，避免下载需要挂代理，下载失败
# dist-url=https://cdn.npmmirror.com/binaries/node/